* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.4vw;
}

html, body, #root, #arcade {
  width: 100%;
  height: 100%;
}

#arcade {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  padding: .8em;
  background: rgba(0, 0, 0, 0.2);
  
  button {
    flex-grow: 1;
    height: 3em;
    margin: .8em;
    border-radius: .3em;
    border: none;
    font-size: 1em;
  }
}

.table.container {
  display: flex;
  width: 65em;
  height: 35em;
  margin: auto;
  flex-direction: column;

  .background {
    border-radius: 40em;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    overflow: hidden;

    &::before, &::after {
      content: " ";
      width: 100%;
      height: 100%;
    }

    &::before {
      background: no-repeat center;
      opacity: 0.7;
      filter: blur(.5px);
    }

    &::after {
      // height: 120%;
      position: absolute;
      background-repeat: no-repeat;
      // background-position-y: -7em;
    }
  }
}

@mixin theme($brand, $tableLogo, $carpetColor, $tableFeltColor, $tableRailColor, $tableInnerRailColor: transparent, $tableLogoSize: 65%) {
  #arcade.#{$brand} {
    background: $carpetColor radial-gradient(ellipse at center, lighten($carpetColor, 20%) 0%, $carpetColor 80%);

    button {
      background-color: $tableFeltColor;
      color: lighten($tableFeltColor, 50%);
    }

    .background {
      background: $tableFeltColor;// radial-gradient(ellipse at bottom, darken($tableFeltColor, 8%) 0, $tableFeltColor 80%);
      box-shadow: 
        .5em 1em 2em rgba(0,0,0,0.45), // outer shadow
        inset .1em .2em .2em lighten($tableRailColor, 26%), // top highlight accent
        inset -.1em -.2em .4em #000C, // bottom shadow accent 
        inset 0 0 .1em 2em $tableRailColor, // outer rail
        inset 0 0 0 2.3em $tableInnerRailColor, // inner rail
        inset -.1em .4em 1.1em 2.2em #0006, // larger inner shadow
        inset .1em .1em .1em 2em darken($tableRailColor, 8%), // top shadow accent
        inset -.1em -.1em .1em 2em lighten($tableRailColor, 26%), // bottom highlight accent
      ;

      &:before {
        background-image: url($tableLogo);
        background-size: $tableLogoSize;
      }

      &:after {
        background-image: radial-gradient(
          // ellipse at 40% 30%, 
          ellipse at 40% -10%,
          rgba(255, 255, 255, .1), 
          transparent 50%, 
          rgba(0, 0, 0, 0.2) 80%
        );
      }
    }
  }
}

$carpetColor: rgb(12, 45, 75);
$tableFeltColor: rgb(38, 51, 61);
$tableRailColor: rgb(56, 63, 73);
$tableLogo: 'logo.allpro.color.svg';
@include theme('allpro', $tableLogo, $carpetColor, $tableFeltColor, $tableRailColor);

$carpetColor: rgb(24, 27, 31);
$tableFeltColor: #444b53;
$tableRailColor: #31373b;
$tableLogo: 'logo.betusa.svg';
@include theme('betusa', $tableLogo, $carpetColor, $tableFeltColor, $tableRailColor, transparent, 50%);

$carpetColor: rgb(13, 39, 63);
$tableFeltColor: #1d2024;
$tableRailColor: #2e3133;
$tableLogo: 'logo.carbonpoker.color.svg';
@include theme('carbonpoker', $tableLogo, $carpetColor, $tableFeltColor, $tableRailColor, transparent, 44%);

$carpetColor: rgb(24, 27, 31);
$tableFeltColor: rgb(34, 75, 114);
$tableRailColor: #676b6e;
$tableLogo: 'logo.linesmaker.color.svg';
@include theme('linesmaker', $tableLogo, $carpetColor, $tableFeltColor, $tableRailColor, transparent, 70%);

$carpetColor: #030503;
$tableFeltColor: #1d241d;
$tableRailColor: #292929;

// $carpetColor: rgb(24, 27, 31);
$tableFeltColor: #1d2024;
// $tableRailColor: #676b6e;
$tableLogo: 'logo.mergegaming.color.svg';
@include theme(
  'mergegaming', 
  $tableLogo, 
  $carpetColor, 
  $tableFeltColor, 
  $tableRailColor, 
  transparent, // rgb(133, 2, 2), 
  25%
);

$carpetColor: hsl(270, 5%, 8%);
$tableFeltColor: #1d1723;
$tableRailColor: rgb(51, 28, 56);
$tableLogo: 'logo.playersonly.color.svg';
@include theme('playersonly', $tableLogo, $carpetColor, $tableFeltColor, $tableRailColor, transparent, 70%);

$carpetColor: #202020;
$tableFeltColor: #242422;
$tableRailColor: #1f1f1e;
$tableLogo: 'logo.sportsbook.color.svg';
@include theme('sportsbook', $tableLogo, $carpetColor, $tableFeltColor, $tableRailColor, rgb(253, 184, 40));

// @mixin rainbow($direction: to right, $end: 25%) {
//   background-image: repeating-linear-gradient(
//     $direction, 
//     red 0%,
//     orange,
//     yellow,
//     green,
//     blue,
//     indigo,
//     violet,
//     red $end,
//   );
// }

// #root #arcade.mergegaming {
//   background-repeat: repeat;
//   background-size: 400%;
//   animation: leftToRight 8s linear infinite;
//   @include rainbow(to right, 100%);

//   .background {  
//     display: flex;
//     position: relative;
//     // border: 2em solid transparent;
//     @include rainbow(to left, 100%);

//     background-repeat: repeat;
//     background-size: 400%;
//     box-shadow: none;
//     animation: rightToLeft 15s linear infinite;

//     box-shadow:
//         .5em 1em 2em rgba(0,0,0,0.3), // outer shadow
//         .1em .2em .4em inset lighten(white, 30%), // top trim highlight accent
//         -.1em -.2em .4em inset #000, // bottom trim dark accent 
//         // 0 0 0 2em inset red, // outer rail
//         // 0 0 0 1em  red, // inner rail
        
//       ;
//     padding: 2em;

//     overflow: visible;

//     &:before, &:after {
//       position: absolute;
//       top: 2em;
//       right: 2em;
//       bottom: 2em;
//       left: 2em;
//       height: unset;
//       width: unset;
//     }

//     &:before {
//       @include rainbow(to right, 100%);

//       opacity: .7;
//       background-repeat: repeat;
//       animation: leftToRight 6s linear infinite;

//       background-size: 400%;
//       border-radius: 20em;
//       box-shadow: -.2em .4em .8em .4em inset #0007;
//     }

//     &:after {
//       background: url(logo.mergegaming.svg) center/30% no-repeat;
//     }
//   }
// }

// @keyframes rightToLeft { 
//     0%{background-position:0% 50%}
//     100%{background-position:400% 50%}
// }

// @keyframes leftToRight { 
//   0%{background-position:400% 50%}
//   100%{background-position:0% 50%}
// }
